@model ConstructionApp.ViewModels.VehicleViewModel

<form asp-action="Create" method="post" id="createForm" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title">Create</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
         <partial name="_FormFields" model="Model" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>
  