@{
    ViewData["Title"] = "Access Denied";
}

<h2 class="mt-3">Access Negato</h2>
<div class="text-center mt-5">
<p>You do not have permission to access this resource.</p>
@if (ViewBag.ReturnUrl != null)
{
    <p>Return URL: @ViewBag.ReturnUrl</p>
}
</div>